body {
  background-color: #343685;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

#title {
  color: white;
}

.winner-holder {
  font-size: 25px;
  color: #fff;

}

#board {
  width: 630px;
  height: 540px;

  background-color: violet;
  border: 10px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

#winner{
  font-size: 40px;
  color: #fff;
}

.tile{
  height: 70px;
  width: 70px;
  margin: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid purple;
  
}

.red-piece{
  background-color: red;
}

.yellow-piece{
  background-color: yellow;
}

#resetButton {
  width: 330px;
  height: 50px;
  margin: 30px auto;
  border: 3px solid purple;
  border-radius: 40px;
  background-color: violet;
  color: white;
  font-size: 20px;
  display: none;
  align-items: center;
  padding-left: 45px;
}


#resetButton:hover {
  border: 3px solid purple;
  background-color: white;
  color: violet;
  cursor: pointer;
}